body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.loading {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  line-height: 26px;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  padding: 10px;
}

.loading-subtitle {
  font-size: 14px;
  color: gray;
}

.loading a {
  color: #1f76c2;
}

.rt-timeline {
  min-height: 1000px;
}
